body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

main{
    max-width: 20rem;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(205, 202, 202);
}


.image-box img{
    max-width: 100%;
    border-radius: 10px;
}

h1{
    font-size: 1.6rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 10px;
    
}

p{
    font-weight: 400;
    font-size: 0.9rem;
    color: hsl(220, 15%, 55%);
    padding-left: 13px;
    padding-right: 13px;
}
